<div class="user-add-form">
    <div class="uad-top">
        <h2>Ajouter un utilisateur</h2>
        <button routerLink="/users">
            &larr; Return</button>
    </div>

    <form [formGroup]="userAddForm" class="uad-container" (ngSubmit)="onSubmit()">
        <div class="uadc-group">
            <div class="uadcg-item">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" formControlName="firstName" required>
                @if (firstName?.invalid && (firstName?.dirty ||
                firstName?.touched)) {
                <div class="alert">
                    @if (firstName?.errors?.['required']) {
                    <span>First Name is required.</span>
                    }
                </div>
                }
            </div>

            <div class="uadcg-item">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" formControlName="lastName" required>
                @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
                <div class="alert">
                    @if (lastName?.errors?.['required']) {
                    <span>Last Name is required.</span>
                    }
                </div>
                }
            </div>

        </div>
        <button type="submit" [disabled]="userAddForm.invalid || isLoading">Submit</button>
    </form>

</div>