<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="openNew()"
    ></button>
  </ng-template>

  <ng-template pTemplate="right"> </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="users"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
  [(selection)]="selectedUsers"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Manage Users</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">
        Firstname <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Lastname <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>
        <p-tableCheckbox [value]="user"></p-tableCheckbox>
      </td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>
        <p-rating
          [ngModel]="user.rating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="editUser(user)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warn"
          (click)="deleteUser(user)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ users ? users.length : 0 }} users.
    </div>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '450px' }"
  header="User Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="flex flex-column gap-3">
      <div class="flex flex-column gap-2">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="user.firstname"
          required
          autofocus
        />
        <small style="color: #e24c4c" *ngIf="!user.firstname || !user.lastname"
          >Name is required.</small
        >
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveUser()"
    ></button>
  </ng-template>
</p-dialog>
