<mat-toolbar color="primary">
    <ul id="menu-list">
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        </li>
        <li>
            <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Liste des
                utilisateurs</a>
        </li>
        <li>
            <a routerLink="users/add" routerLinkActive="active">Ajouter un utilisateur</a>
        </li>
    </ul>
</mat-toolbar>