

    <div class="flex flex-column gap-3">
      <div class="flex flex-column gap-2">
        <div>
          <label for="firstname">Firstname</label>
          <input
            type="text"
            pInputText
            id="firstname"
            [(ngModel)]="user.firstname"
            required
            autofocus
          />
          <small style="color: #e24c4c" *ngIf="!user.firstname"
            >Firstname is required.</small
          >
        </div>
        <div>
          <label for="lastname">Lastname</label>
          <input
            type="text"
            pInputText
            id="lastname"
            [(ngModel)]="user.lastname"
            required
            autofocus
          />

          <small style="color: #e24c4c" *ngIf="!user.lastname"
            >Lastname is required.</small
          >
        </div>
      </div>
    </div>

    <button
      pButton
      pRipple
      label="Add User"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveUser(user)"
    ></button>
    
<p-messages />