/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */

// Generate tones based on colors
$color_tones: (
	0: 98%,
	50: 95%,
	100: 90%,
	200: 80%,
	300: 70%,
	400: 60%,
	600: 40%,
	700: 30%,
	800: 20%,
	900: 10%,
	950: 5%,
	) !default;

$neutral_tones: (
	0: 100%,
	100: 95%,
	200: 90%,
	300: 85%,
	400: 80%,
	600: 40%,
	700: 35%,
	800: 30%,
	900: 15%,
	) !default;

$state_tones: (
	0: 95%,
	100: 90%,
	200: 80%,
	300: 70%,
	400: 60%,
	600: 40%,
	700: 30%,
	800: 20%,
	900: 10%,
	950: 5%) !default;

$palette: (
	primary: (h: 254deg,
		s: 30.2%,
		l: 25.3%,
	),
	secondary: (h: 240deg,
		s: 30%,
		l: 58%,
	),
	accent: (h: 265deg,
		s: 48%,
		l: 30%,
	),
	neutral: (h: 0deg,
		s: 0%,
		l: 36.9%,
	)) !default;

$neutrals: (
	neutral: (h: 0deg,
		s: 0%,
		l: 36.9%,
	),
	) !default;

$states: (
	success: (h: 162deg,
		s: 87%,
		l: 27%,
	),
	warning: (h: 40deg,
		s: 100%,
		l: 50%,
	),
	danger: (h: 338deg,
		s: 71%,
		l: 38%,
	),
	) !default;