.userTab{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.listContainer{
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userList{
    width: 70%;
}