.container {
  padding: 1rem;
}


table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-mdc-row:nth-child(odd){
  background-color: #edf3fc;
}
tr.mat-mdc-row:nth-child(even){
  background-color:#ffffff;
}
