<h1> La liste des utilisateurs</h1>

<!-- <ul class="users">
  @for (user of users ; track user.id) {
    <li>{{user.id}} {{user.firstName}} {{user.lastName}}</li>
  }
</ul> -->

<div class="container">

  @if (users().isLoading) {
    <h4>Loading users ....</h4>
    <div class="container">Excepteur velit eu deserunt eiusmod anim do amet ipsum adipisicing velit adipisicing laboris ipsum. Dolore Lorem ut Lorem id cupidatat mollit dolore nostrud. In irure excepteur reprehenderit reprehenderit reprehenderit officia dolor laboris consectetur.</div>
  }
  @if (users().isError) {
    <h4 style="color: red">Error while loading users ....</h4>
  }


  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let user">
        <button mat-mini-fab color="primary" aria-label="Edition" routerLink="/user/{{user.id}}" matTooltip="Editer">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Suppression" (click)="userDelete(user.id)" matTooltip="Supprimer">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let user">
        <button mat-button>Delete</button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button style="margin-top: 20px" color="primary" routerLink="/users/add">
    Ajouter un utilisateur
  </button>
</div>


